[submodule "vendor/libkrunfw"]
	path = vendor/libkrunfw
	url = https://github.com/zerocore-ai/libkrunfw.git
	branch = krunfw
[submodule "examples/simple-root/rootfs-alpine"]
	path = examples/simple-root/rootfs-alpine
	url = https://github.com/zerocore-ai/rootfs-alpine
