[submodule "vendor/libkrunfw"]
	path = vendor/libkrunfw
	url = https://github.com/superradcompany/libkrunfw.git
	branch = krunfw
[submodule "examples/root-bind/rootfs-alpine"]
	path = examples/rust/root-bind/rootfs-alpine
	url = https://github.com/superradcompany/rootfs-alpine
[submodule "examples/root-block/qcow2-alpine"]
	path = examples/rust/root-block/qcow2-alpine
	url = https://github.com/superradcompany/qcow2-alpine
[submodule "examples/typescript/root-bind/rootfs-alpine"]
	path = examples/typescript/root-bind/rootfs-alpine
	url = https://github.com/superradcompany/rootfs-alpine
[submodule "examples/typescript/root-block/qcow2-alpine"]
	path = examples/typescript/root-block/qcow2-alpine
	url = https://github.com/superradcompany/qcow2-alpine
[submodule "mcp"]
	path = mcp
	url = https://github.com/superradcompany/microsandbox-mcp.git
[submodule "skills"]
	path = skills
	url = https://github.com/superradcompany/skills.git
[submodule "examples/python/root-bind/rootfs-alpine"]
	path = examples/python/root-bind/rootfs-alpine
	url = https://github.com/superradcompany/rootfs-alpine
[submodule "examples/python/root-block/qcow2-alpine"]
	path = examples/python/root-block/qcow2-alpine
	url = https://github.com/superradcompany/qcow2-alpine
[submodule "examples/rust/volume-disk/sample-images"]
	path = examples/rust/volume-disk/sample-images
	url = https://github.com/superradcompany/sample-images
[submodule "examples/python/volume-disk/sample-images"]
	path = examples/python/volume-disk/sample-images
	url = https://github.com/superradcompany/sample-images
[submodule "examples/typescript/volume-disk/sample-images"]
	path = examples/typescript/volume-disk/sample-images
	url = https://github.com/superradcompany/sample-images
