{
  "openapi": "3.1.0",
  "info": {
    "title": "Personal token API",
    "description": "User-scoped API for account and organization management.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.microsandbox.dev"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/v1/users/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the current user",
        "operationId": "get_me",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete the current user",
        "description": "The user's PII (email, name, password hash, MFA secret, avatar) is cleared\nand the row is tombstoned with `deleted_at`. Sessions are invalidated, org\nmemberships removed, and pending invites issued by this user revoked. Audit\nevents are preserved.\n\nRequires fresh credential proof: the current password (password-backed\naccounts) or a TOTP code (MFA-enabled accounts). At least one must be\nsupplied; both being valid is fine but a single matching proof is enough.\n\nReturns `409 Conflict` if the user is the sole owner of an organization -\nownership must be transferred first.",
        "operationId": "delete_me",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing credential proof"
          },
          "401": {
            "description": "Invalid password or MFA code"
          },
          "409": {
            "description": "Sole owner of an organization"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Update the current user",
        "operationId": "update_me",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List the current user's organizations",
        "operationId": "list_orgs",
        "responses": {
          "200": {
            "description": "User's organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgWithRole"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Create an organization",
        "description": "The current user becomes its owner.",
        "operationId": "create_org",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Slug already taken"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get an organization",
        "operationId": "get_org",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgWithRole"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Delete an organization",
        "description": "Hides the organization immediately and schedules its resources for cleanup.\nThe request must confirm the organization slug.",
        "operationId": "delete_org",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteOrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization scheduled for deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Confirmation does not match"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Owner role required"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update an organization",
        "operationId": "update_org",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List organization members",
        "operationId": "list_members",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMemberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/members/{user_id}": {
      "delete": {
        "tags": [
          "Members"
        ],
        "summary": "Remove an organization member",
        "operationId": "remove_member",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "Target user ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot remove yourself"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Member not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Members"
        ],
        "summary": "Change an organization member's role",
        "operationId": "update_member_role",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "Target user ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMember"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Member not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/invites/{token}/accept": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Accept an organization invite",
        "operationId": "accept_invite",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Invite token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Email mismatch"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/invites/{token}/decline": {
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Decline an organization invite",
        "operationId": "decline_invite",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Invite token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite declined",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Email mismatch"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/invites": {
      "get": {
        "tags": [
          "Invites"
        ],
        "summary": "List pending organization invites",
        "operationId": "list_invites",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgInvite"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invites"
        ],
        "summary": "Invite an organization member",
        "operationId": "create_invite",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invite created or refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgInvite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "409": {
            "description": "User already a member"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/invites/{invite_id}": {
      "delete": {
        "tags": [
          "Invites"
        ],
        "summary": "Cancel an organization invite",
        "operationId": "cancel_invite",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "description": "Invite ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Invite not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/oidc": {
      "get": {
        "tags": [
          "OIDC"
        ],
        "summary": "Get organization SSO settings",
        "operationId": "get_oidc_config",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OIDC configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcConfig"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "OIDC not configured"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "OIDC"
        ],
        "summary": "Configure organization SSO",
        "operationId": "upsert_oidc_config",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertOidcConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OIDC config created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgOidcConfig"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "OIDC"
        ],
        "summary": "Remove organization SSO settings",
        "operationId": "delete_oidc_config",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OIDC config removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "OIDC not configured"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/api-keys": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "List API keys",
        "description": "Admins and owners see all keys. Members see only their own keys.",
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/users/me/pats": {
      "get": {
        "tags": [
          "Credentials"
        ],
        "summary": "List personal access tokens",
        "description": "Returns metadata without token values.",
        "operationId": "list_pats",
        "responses": {
          "200": {
            "description": "Active PATs for the current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonalAccessTokenResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Create a personal access token",
        "description": "The token value is returned only once.",
        "operationId": "create_pat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonalAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PAT created (raw token returned once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePersonalAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "PATs cannot mint other PATs"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/users/me/pats/{id}": {
      "delete": {
        "tags": [
          "Credentials"
        ],
        "summary": "Revoke a personal access token",
        "description": "Returns not found when the token is missing or already revoked.",
        "operationId": "revoke_pat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "PAT id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PAT revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "PAT not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/registries": {
      "get": {
        "tags": [
          "Registry credentials"
        ],
        "summary": "List registry credentials",
        "description": "Returns credential metadata without secret values.",
        "operationId": "list_registry_credentials",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configured registry credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegistryCredentialResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Registry credentials"
        ],
        "summary": "Create or update a registry credential",
        "description": "Each registry host can have one stored credential.",
        "operationId": "upsert_registry_credential",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRegistryCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credential created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryCredentialResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/registries/{id}": {
      "delete": {
        "tags": [
          "Registry credentials"
        ],
        "summary": "Delete a registry credential",
        "operationId": "delete_registry_credential",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Registry credential id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Credential not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandbox-slug/check": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Check whether a sandbox slug is valid and available",
        "operationId": "check_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_slug",
            "in": "query",
            "description": "Candidate slug to validate + check. Named `sandbox_slug` in the query to\ndisambiguate from the org `:slug` route param.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Slug validity + availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlugAvailability"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandbox-slug/suggest": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Suggest an available sandbox slug",
        "operationId": "suggest_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A suggested available slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlugSuggestion"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "List sandboxes",
        "operationId": "list_sandboxes",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "description": "JSON object of labels to AND-match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sandboxes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSandboxResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Create a sandbox",
        "description": "By default, the sandbox is created without starting. Use `start=true` to\nstart it immediately and `wait_for=running` to wait until it is ready.",
        "operationId": "create_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "If `true`, durably queue the sandbox for immediate orchestrator dispatch.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "wait_for",
            "in": "query",
            "description": "Optional lifecycle state to wait for after durable start admission.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/SandboxWaitFor"
                }
              ]
            }
          },
          {
            "name": "wait_timeout",
            "in": "query",
            "description": "Server-side wait budget in seconds; valid only with `wait_for`.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSandboxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sandbox created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Name already exists"
          },
          "429": {
            "description": "Readiness wait capacity exhausted"
          },
          "502": {
            "description": "Orchestrator unreachable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/{sandbox_id}": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Get a sandbox",
        "operationId": "get_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Delete a sandbox",
        "description": "Resource cleanup continues asynchronously.",
        "operationId": "delete_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox scheduled for deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Update a sandbox",
        "operationId": "update_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSandboxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated sandbox",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name/slug"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          },
          "409": {
            "description": "Name or slug already taken"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/{sandbox_id}/metrics": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Get sandbox metrics",
        "description": "Returns CPU, memory, disk, and network metrics for a time range.",
        "operationId": "get_sandbox_metrics",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "range_secs",
            "in": "query",
            "description": "Look-back window in seconds (default 3600 = 1h, max 604800 = 7d).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "step_secs",
            "in": "query",
            "description": "Sample resolution in seconds (default 30, min 5).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid range/step"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          },
          "502": {
            "description": "Metrics backend unavailable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/{sandbox_id}/start": {
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Start a sandbox",
        "operationId": "start_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "wait_for",
            "in": "query",
            "description": "Optional lifecycle state to wait for after durable start admission.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/SandboxWaitFor"
                }
              ]
            }
          },
          {
            "name": "wait_timeout",
            "in": "query",
            "description": "Server-side wait budget in seconds; valid only with `wait_for`.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox start admitted or requested wait completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          },
          "409": {
            "description": "Invalid state transition"
          },
          "429": {
            "description": "Readiness wait capacity exhausted"
          },
          "502": {
            "description": "Orchestrator unreachable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/{sandbox_id}/stop": {
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Stop a sandbox",
        "operationId": "stop_sandbox",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sandbox stopping",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          },
          "409": {
            "description": "Invalid state transition"
          },
          "502": {
            "description": "Sandbox orchestrator unreachable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/{sandbox_id}/volumes": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "List mounted volumes",
        "operationId": "list_sandbox_volumes",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "description": "Sandbox ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mounted volumes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SandboxVolumeMount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sandbox not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/sandboxes/snapshot-candidates": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List sandboxes available for snapshots",
        "operationId": "list_snapshot_candidates",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated snapshot candidates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSnapshotCandidateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/snapshot-operations": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List snapshot operations",
        "operationId": "list_operations",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "exclude_redundant",
            "in": "query",
            "description": "Hide successful managed operations and superseded host-volume operations represented in snapshot inventory",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explicit snapshot operations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSnapshotOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/snapshot-operations/{operation_id}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Get a snapshot operation",
        "operationId": "get_operation",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "description": "Snapshot operation id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSnapshotOperation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Snapshot operation not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List snapshots",
        "operationId": "list_snapshots",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Managed snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSnapshotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Create a snapshot",
        "operationId": "create",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudCreateSnapshotRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Snapshot capture queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSnapshotOperation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid snapshot request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Source sandbox not found"
          },
          "409": {
            "description": "Snapshot destination already exists"
          },
          "422": {
            "description": "Unsupported or ineligible snapshot request"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/snapshots/by-name/{name}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Get a snapshot by name",
        "operationId": "get_snapshot_by_name",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Managed snapshot name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Managed snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSnapshot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Snapshot not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a snapshot by name",
        "operationId": "delete_snapshot_by_name",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Managed snapshot name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Snapshot not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/snapshots/{snapshot_id}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Get a snapshot by ID",
        "operationId": "get",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Managed snapshot id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Managed snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSnapshot"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Snapshot not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a snapshot by ID",
        "operationId": "delete",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Managed snapshot id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Snapshot not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volumes",
        "operationId": "list_volumes",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The org's volumes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create a volume",
        "operationId": "create_volume",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Volume created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "409": {
            "description": "Volume name already in use"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/volumes/{id}": {
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete a volume",
        "operationId": "delete_volume",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Volume id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume scheduled for deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Volume not found"
          },
          "409": {
            "description": "The host volume cannot be deleted, or it is in use by a sandbox"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Volumes"
        ],
        "summary": "Update a volume",
        "operationId": "update_volume",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Volume id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Volume updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. cap exceeds the org cap)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Volume not found"
          },
          "409": {
            "description": "The host volume cannot be capped"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/volumes/{id}/metrics": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get volume metrics",
        "operationId": "get_volume_metrics",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Volume id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "range_secs",
            "in": "query",
            "description": "Look-back window in seconds (default 3600 = 1h, max 604800 = 7d).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "step_secs",
            "in": "query",
            "description": "Sample resolution in seconds (default 30, min 5).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume performance metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid time range or resolution"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Volume not found"
          },
          "502": {
            "description": "Metrics backend unavailable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/quotas": {
      "get": {
        "tags": [
          "Quotas"
        ],
        "summary": "Get quota usage",
        "operationId": "get_quotas",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quota usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaUsage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member"
          },
          "404": {
            "description": "Org not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing summary",
        "operationId": "get_billing",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/cancel": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel the subscription at the end of the billing period",
        "operationId": "cancel_subscription",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation scheduled for period end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List invoices",
        "operationId": "list_invoices",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get an invoice",
        "operationId": "get_invoice",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "Invoice ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/payment-portal": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Open the payment portal",
        "description": "Returns a URL for managing payment methods.",
        "operationId": "payment_portal",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment portal URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentPortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/plan": {
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Change the billing plan",
        "operationId": "change_plan",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid plan or payment method required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List billing plans",
        "operationId": "list_plans",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingPlan"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get estimated usage costs",
        "description": "Includes the subscription and estimated overage for the current period.",
        "operationId": "get_usage",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost estimate for the current period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/usage/sandbox": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get sandbox usage",
        "description": "Groups compute usage by sandbox and day for the requested time range.",
        "operationId": "get_sandbox_breakdown",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Window start (RFC 3339); defaults to month start",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end (RFC 3339); defaults to now",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-sandbox / per-day usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageBreakdown"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/billing/usage/storage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get storage usage",
        "description": "Groups persistent storage usage by volume and day for the requested time range.",
        "operationId": "get_storage_breakdown",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Window start (RFC 3339); defaults to month start",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Window end (RFC 3339); defaults to now",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-volume / per-day storage usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageBreakdown"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/events": {
      "get": {
        "tags": [
          "Audit events"
        ],
        "summary": "List audit events",
        "description": "Returns customer-visible audit events with optional filters.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type (e.g. \"api_key_created\").",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Only return events at or after this timestamp.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Only return events at or before this timestamp.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of audit events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/orgs/{slug}/events/{event_id}": {
      "get": {
        "tags": [
          "Audit events"
        ],
        "summary": "Get an audit event",
        "operationId": "get_event",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Organization slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "Event ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Action": {
        "type": "string",
        "description": "Action to take on traffic matched by a [`Rule`] (or a policy default).",
        "enum": [
          "allow",
          "deny"
        ]
      },
      "ApiKeyResponse": {
        "type": "object",
        "description": "API key metadata returned in list responses. Never includes the raw key or hashes.",
        "required": [
          "id",
          "name",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BillingEffectiveState": {
        "type": "string",
        "description": "Effective billing state derived from plan, period end, and suspension.",
        "enum": [
          "free",
          "active",
          "past_due",
          "suspended"
        ]
      },
      "BillingPlan": {
        "type": "object",
        "description": "Billing plan definition with resource quotas.\n\n`name` is the plan's identity, an arbitrary catalog string (no fixed enum) -\n\"free\"/\"builder\"/… are just the names we ship. Every quota is `Option`:\n`None` = unlimited (counts/budgets) or the platform default (per-sandbox\nvCPU/memory/disk). There is no magic 0.",
        "required": [
          "id",
          "name",
          "display_name",
          "self_serve",
          "is_default",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "display_name": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "included_disk_gib_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_memory_gib_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_storage_gib": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_vcpu_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Monthly included allowances bundled into the flat fee (pool of vCPU-hours /\nmemory GiB-hours / writable-disk GiB-hours / durable-storage GiB). Usage\nbeyond the pool is metered overage on priced plans; on an unpriced (free)\nplan the compute pool is a hard wall."
          },
          "is_default": {
            "type": "boolean",
            "description": "The plan new orgs are assigned. Exactly one row is the default."
          },
          "max_concurrent_ephemeral_running": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Max simultaneously-running *ephemeral* sandboxes (cheap, self-cleaning)."
          },
          "max_concurrent_persistent_running": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Max simultaneously-running *persistent* sandboxes (snapshot/restore cost)."
          },
          "max_disk_size_mib_per_sandbox": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Maximum writable disk size (MiB) per sandbox."
          },
          "max_memory_mib_per_sandbox": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "max_sandboxes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "max_snapshot_storage_gib": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Per-org managed-snapshot storage hard cap (GiB), compared against the\nsummed compressed archive size of the org's managed snapshots."
          },
          "max_total_storage_gib": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Per-org durable-storage hard cap (GiB). Used storage is billed at a flat\nper-GB-month rate (no free allotment)."
          },
          "max_uptime_minutes_per_sandbox": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "max_vcpus_per_sandbox": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "monthly_sandbox_minutes": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Deprecated wall-clock minutes budget (NULL). The compute wall is now\n`included_vcpu_hours` on unpriced plans."
          },
          "name": {
            "type": "string"
          },
          "self_serve": {
            "type": "boolean",
            "description": "May a user self-subscribe to this plan via the API? Fail-closed; the\nchange-plan check keys on this flag, not the plan name."
          },
          "subscription_price_cents": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Flat monthly subscription price (cents); `None` = unpriced (free). Source\nof upgrade/downgrade ordering - compare prices, not a fixed tier rank."
          },
          "trial_duration_days": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "usage_disk_gib_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_memory_gib_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_snapshot_storage_gib_month_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Managed-snapshot storage rate (USD/GiB-month), separate from volumes."
          },
          "usage_storage_gib_month_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_vcpu_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Per-unit overage rates (USD) charged on usage beyond the included pool;\n`None` on the free/unpriced plan (no overage path). Drive the live cost\nestimate `subscription + Σ overage`; Autumn's invoice stays authoritative."
          }
        }
      },
      "BillingPlanSummary": {
        "type": "object",
        "description": "Summary of a billing plan (subset of full plan).",
        "required": [
          "name",
          "display_name",
          "has_custom_billing_terms"
        ],
        "properties": {
          "display_name": {
            "type": "string"
          },
          "has_custom_billing_terms": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BillingPricingTerms": {
        "type": "object",
        "description": "Pricing fields which may be inherited from a plan or negotiated per customer.",
        "properties": {
          "included_disk_gib_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_memory_gib_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_storage_gib": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "included_vcpu_hours": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "subscription_price_cents": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "usage_disk_gib_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_memory_gib_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_snapshot_storage_gib_month_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_storage_gib_month_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "usage_vcpu_hour_usd": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "BillingSummaryResponse": {
        "type": "object",
        "description": "Billing summary response for an organization.",
        "required": [
          "plan",
          "effective_pricing",
          "effective_state",
          "is_suspended"
        ],
        "properties": {
          "available_credit_cents": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Positive USD credit Stripe will apply automatically to future invoices.",
            "minimum": 0
          },
          "billing_terms_override": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/BillingTermsOverrideSummary",
                "description": "Current agreement metadata, including setup and payment-pending states."
              }
            ]
          },
[...]
